.c-hint-window {
    position: absolute;
    display: flex;
    display: none;
    transform: translateX(14rem);
    bottom: 2rem;
    right: 0;
}

.c-hint-window.active {
    transform: translateX(0px);
}

.hintWindow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 8rem;
    width: 14rem;
    font-size: 1.5em;
    background-color: #161616;
}

.hintButton {
    padding: 5px;
    font-size: 1.2em;
    border-radius: 5px 0px 0px 0px;
    color: #d8d8d8;
    background-color: #131313;
    border: none;
    outline: none;
    transition: 0.5s;
}

.hintLogo:hover {
    color: red;
}