.c-game {
    display: flex;
    height: 100vh;
    width: 100%;
}

.gameContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.gameDisplay {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.gameInput {
    height: 2rem;
    width: 100%;
}

@media screen and (max-width: 800px) {
    .c-game {
        flex-direction: column;
    }
}